@import "src/assets/styles/app-variables.scss";

.form-wrapper {
    display: grid;
    min-height: 100vh;
    width: 100%;
    place-items: center;
    background: $primary-color;
}

.form-container {
    background: #fff;
    max-width: 350px;
}

@media screen and (min-width: 768px) {
    .form-container {
        max-width: 450px;
    }
}
