<section class="d-flex flex-column gap-3">
    <header class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Role List ({{ isLoading ? '': roleList.length }})</h2>
        <button mat-raised-button color="primary" (click)="onAddRole()">
            Add Role
        </button>
    </header>
    <main class="row g-3" *ngIf="!isLoading; else loadRoles">
        <div class="col-12 col-md-6 col-xl-4" *ngFor="let role of roleList">
            <app-role-card [role]="role" (editRole)="onEditRole($event)" (deleteRole)="onDeleteRole($event)"
                (deleteRolePermanently)="onDeleteRolePermanently($event)" (retoreRole)="onRestoreRole($event)"
                [isDeleting]="isDeleting" [isRestoring]="isRestoring">
            </app-role-card>
        </div>
    </main>
    <ng-template #loadRoles>
        <app-loading></app-loading>
    </ng-template>
</section>
