<mat-card class="d-flex flex-column align-items-center justify-content-center h-100">
    <div class="ms-auto mb-0 d-flex align-items-center">
        <button mat-icon-button color="primary" (click)="onEditUser(user.id!)">
            <mat-icon class="material-symbols-rounded">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" class="d-flex justify-content-center align-items-center"
            (click)="onDeleteUser(user.id!)">
            <ng-container *ngIf="!isDeleting; else deleting">
                <mat-icon class="material-symbols-rounded">
                    delete
                </mat-icon>
            </ng-container>
            <ng-template #deleting>
                <mat-spinner color="warn" [diameter]="17" [strokeWidth]="1"></mat-spinner>
            </ng-template>
        </button>
    </div>
    <div class=" d-flex justify-content-center">
        <div mat-card-avatar class="header-image"></div>
    </div>
    <div class="pt-3 overflow-hidden">
        <mat-card-content>
            <p><span class="fw-bold">Name: </span><span class="text-capitalize">{{ user.name }}</span></p>
            <p><span class="fw-bold">Email: </span><span class="text-lowercase">{{ user.email }}</span></p>
            <p><span class="fw-bold">Role: </span><span
                    class="text-capitalize">{{ user.role? user.role.name : 'No Role' }}</span></p>
        </mat-card-content>
    </div>
</mat-card>
