.grid-container {
    //   margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    right: 0.4rem;
    bottom: 0.4rem;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}
