@use "@angular/material" as mat;
@import "app-material-custom";
@import "app-notification";

@include mat.core();

$app-primary: mat.define-palette(mat.$green-palette, 800, 400, 500);
$app-accent: mat.define-palette(mat.$indigo-palette, 700);
$app-info: mat.define-palette(mat.$light-blue-palette);
$app-success: mat.define-palette(mat.$light-green-palette);
$app-error: mat.define-palette(mat.$red-palette);
$app-warn: mat.define-palette(mat.$orange-palette);
$app-background: mat.define-palette(mat.$gray-palette, 900);

$notification: (
    default: mat.get-color-from-palette($app-primary),
    info: mat.get-color-from-palette($app-info),
    success: mat.get-color-from-palette($app-success),
    warning: mat.get-color-from-palette($app-accent),
    error: mat.get-color-from-palette($app-error),
);

$mat-theme: mat.define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-error,
        ),
    )
);

@include custom-components-theme($notification);
@include mat.all-component-themes($mat-theme);
